<div *ngIf="weatherForecast" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <div class="ion-text-center">
          <ion-text color="dark">
            <h1> {{weatherForecast.city.name}}</h1>
          </ion-text>
          <ion-text color="primary">
            <p class="temperature ion-margin">
              <wf-temperature [value]="currentWeather.main.temp"></wf-temperature>
            </p>
          </ion-text>
          <ion-badge class=" ion-padding weather-type" color="medium">{{currentWeather.weather[0].main}}</ion-badge>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <img [src]="'http://openweathermap.org/img/wn/'+currentWeather.weather[0].icon+'@4x.png'" />
      </ion-col>
    </ion-row>
    <ion-list class="forecast-list">
      <ion-item *ngFor="let forecast of weatherForecast.list">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col size="3" class="ion-no-padding"><span>{{forecast.dt_txt |date:'EEEE, hh:mm a'}}</span></ion-col>
            <ion-col size="3" class="ion-no-padding ion-text-center"><span><img
                  [src]="'http://openweathermap.org/img/wn/'+forecast.weather[0].icon+'.png'" /></span></ion-col>
            <ion-col size="3" class="ion-no-padding ion-text-center">
              <wf-temperature [value]="forecast.main.temp"></wf-temperature>
            </ion-col>
            <ion-col size="3" class="ion-no-padding ion-text-center ion-align-items-center">
              <wf-wind [speed]="forecast.wind.speed" [angle]="forecast.wind.deg"></wf-wind>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</div>